{% extends "base.html" %}

{% block content %}

<h3>¿Qué es Sin Filtrar?</h3>

<p>Sin Filtrar es un archivo abierto y gratuito que reune comunicados de prensa de organismos participantes.</p>

<p>La mayoria de los comunicados oficiales sólo se envían por email a una lista acotada de medios elegida por cada organismo, creando efectivamente un filtro a la difusión de información oficial. Muchos de los organismos tampoco cuentan con un archivo online, por lo cual la mayoría de comunicados nunca se publican en un foro público.</p>

<p>Decidimos implementar Sin Filtrar permitiendo a todo quien lo desee consultar un archivo de comunicados de prensa de forma abierta, ordenada y catalogada.</p>

<h3>¿Cómo funciona?</h3>

<p>Los organismos agregan la dirección `input@sinfiltr.ar` a su lista de difusión. En base al remitente vinculamos el comunicado con el organismo correspondiente y lo publicamos en `http://sinfiltr.ar`.</p>

<p>Para unirte o contactarnos mandanos un email a `contacto@sinfiltr.ar`.</p>

<p>Todo el desarrollo es código libre y abierto y se puede encontrar en `https://github.com/sinfiltrar`.</p>

<h3>¿Quiénes somos?</h3>

<p>Somos `Mauro Spivak` e `Iván Raskovsky`. En 2021 decidimos implementar Sin Filtrar para expandir y facilitar el acceso a esta información.</p>

<p>Actualmente estamos utilizando la infraestructura de <a href="https://conglomerado.io">https://conglomerado.io</a> para hostear este servicio.</p>

<p>Muchas gracias a dani245 por el diseño del sitio.</p>

{% endblock %}
