{% extends "base.html" %}

{% block content %}

    <section class="about offset-lg-2 col-lg-8">

        <div class="lead">
            <p><strong>Sin Filtrar</strong> es un archivo abierto de comunicados de organismos públicos.</p>
        </div>

        <div class="body">

            <p>Implementamos Sin Filtrar para permitir a todo el mundo consultar los comunicados de prensa de forma abierta y ordenada en el espíritu de la
            <a target="_blank" href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/265000-269999/265949/norma.htm">
                ley nacional 27.275</a>.</p>

            <h3>Información para organismos públicos</h3>

            <p>Para sumar tu organismo a Sin Filtrar, <mark>agregá la dirección <a href="mailto:">input@sinfiltr.ar</a> a tu lista</mark> de difusión.
                ¡Listo! Cada vez que recibamos un comunicado lo publicaremos en <a href="https://sinfiltr.ar">sinfiltr.ar</a>.</p>

            <p>Por cualquier consulta o sugerencia, podés escribirnos a <a href="mailto:sinfiltrarok@gmail.com">sinfiltrarok@gmail.com</a>.</p>


            <p>Todo el desarrollo es código libre y abierto y se puede encontrar en
            <a href="https://github.com/sinfiltrar" target="_blank">github.com/sinfiltrar</a>.</p>

            <p><a href="/us">¿Quienes Somos?</a></p>

        </div>

    </section>

{% endblock %}
