{% extends "base.html" %}

{% block content %}

<section class="us offset-lg-2 col-lg-8">
    <div class="body">

        <h2>¿Quiénes somos?</h2>

        <p>Somos Mauro Spivak e <a href="https://github.com/rasca">Iván Raskovsky</a>. En 2021 decidimos implementar Sin
        Filtrar para expandir y facilitar el acceso a esta información.</p>

        <p>Actualmente estamos utilizando la infraestructura de
        <a href="https://conglomerado.io" target="_blank">conglomerado.io</a>
        para hostear este servicio.</p>

        <p>Muchas gracias a dani245 por el diseño del sitio.</p>
    </div>

</section>

{% endblock %}
