{% extends "base.html" %}

{% block content %}


<section class="issuers">
    <h2>Organismos Registrados</h2>
    <div class="body">
        <ul>
        {% for issuer in issuers %}
            <div class="issuer-item d-flex align-items-center" style="--mycolor: #{{ issuer.color }}">
                <a class="avatar flex-shrink-0" href="{% url 'issuers_one' slug=issuer.slug %}">
                    {{ issuer.avatar }}
                </a>
                <div class="flex-grow-1 ms-3">
                    <a class="issuer-name" href="{% url 'issuers_one' slug=issuer.slug %}">{{ issuer.name }}</a>
                </div>
            </div>
        {% endfor %}
        </ul>
    </div>
</section>

<section class="missing mt-5">
    <h3>¿Falta el organismo que buscás?</h3>
    <div class="body mt-5 offset-lg-1 col-lg-8">
        <p>
            Para sumar tu organismo a Sin Filtrar, por favor pediles que
            <mark>agreguen la dirección <a href="mailto:">input@sinfiltr.ar</a>
            a su lista</mark> de difusión.
        </p><p>
            ¡Listo! Cada vez que recibamos un comunicado lo publicaremos en
            <a href="https://sinfiltr.ar">sinfiltr.ar</a>.
        </p><p>
            Por cualquier consulta o sugerencia, podés escribirnos a
            <a href="mailto:sinfiltrarok@gmail.com">sinfiltrarok@gmail.com</a>.
        </p>
    </div>
</section>

{% endblock %}
