{% extends "base.html" %}



{% block content %}
    <div class="hero bordered" style="--mycolor: #{{ issuer.color }}">
        <div class="row">
            <div class="col-lg-10 d-flex justify-content-between align-items-center">
	            <h2>{{ issuer.name }}</h2>
            </div>
        </div>
    </div>

    <div class="header">
	    <h3>Últimos comunicados</h3>
    </div>

    <section class="doc-list row">
        <ul class="offset-lg-1 col-lg-10">
        {% for doc in issuer_docs %}
            <li class="doc-item d-flex align-items-start" style="--mycolor: #{{ issuer.color }}">
                <a class="avatar flex-shrink-0" href="{% url 'docs_one' slug=doc.slug %}">
                    {{ doc.issuer.avatar }}
                </a>
                <div class="flex-grow-1 ms-3">
                    <a class="issuer-name" href="{% url 'docs_one' slug=doc.slug %}">{{ doc.issuer.name }}</a>
                    <span class="date">{{ doc.issued_at | date }}</span>
                    <br>
                    <a class="title" href="{% url 'docs_one' slug=doc.slug %}">{{ doc.title | title }}</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </section>

{% endblock %}