body {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 17px;
  max-width: 1000px;
  margin: 0 auto; }

#content {
  min-height: 500px; }

h1, h2, h3, h4, .navbar-brand {
  font-weight: 900; }

.lead {
  font-weight: 500;
  font-size: 1.6rem; }

.navbar {
  padding: 1rem 0; }
  .navbar .navbar-brand {
    font-size: 1.66rem; }
  .navbar .nav-item {
    margin-left: 2rem; }
    .navbar .nav-item .nav-link {
      color: #000;
      padding-left: 0;
      padding-right: 0; }
      .navbar .nav-item .nav-link.active {
        border-bottom: 2px solid black; }

.hero {
  padding: 3.75rem 0; }
  .hero.bordered {
    border-bottom: 1px #C0C0C0 solid;
    padding-bottom: 6.5rem; }
  .hero h1 {
    font-size: 4rem !important; }
  .hero h2 {
    color: var(--mycolor) !important;
    font-size: 2.66rem; }
  .hero .avatar {
    background-color: var(--mycolor);
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    line-height: 6rem;
    border-radius: 50%;
    text-align: center; }

.header {
  padding: 1rem 0; }
  .header h3 {
    font-size: 1.66rem;
    line-height: 3em;
    margin-bottom: 0; }

.doc-item,
.issuer-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  transition: 0.1s linear;
  padding-left: 2rem; }
  .doc-item.doc-item,
  .issuer-item.doc-item {
    border-bottom: 1px #e6e6e6 solid; }
  .doc-item:last-child,
  .issuer-item:last-child {
    border-bottom: none; }
  .doc-item.issuer-item,
  .issuer-item.issuer-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .doc-item .avatar,
  .issuer-item .avatar {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: var(--mycolor);
    border-radius: 50%;
    font-size: 1.8rem;
    text-decoration: none; }
  .doc-item .issuer-name,
  .issuer-item .issuer-name {
    text-decoration: none;
    color: var(--mycolor);
    font-weight: 400; }
  .doc-item .date,
  .issuer-item .date {
    color: #999; }
  .doc-item .title,
  .issuer-item .title {
    text-decoration: none;
    color: #000; }
  .doc-item:hover,
  .issuer-item:hover {
    background: #fafafa; }

section.doc {
  margin-bottom: 6rem; }

section.about {
  margin-top: 7rem; }
  section.about p {
    margin-bottom: 1rem !important; }

section.us {
  margin-top: 7rem; }

section.issuers {
  margin-top: 3rem; }
  section.issuers h2 {
    margin-bottom: 2rem; }

section .title {
  margin: 2rem 0; }

section .body {
  padding-bottom: 3rem; }
  section .body h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem; }
  section .body p {
    line-height: 1.6em;
    margin-bottom: 1.5rem; }
  section .body img {
    display: block;
    margin: auto auto 1rem auto;
    max-width: 100%; }

section .media {
  border-top: 1px #e6e6e6 solid;
  padding-top: 4rem; }
  section .media h3 {
    font-size: 1.66rem;
    margin-bottom: 2rem; }
  section .media ul {
    list-style: none;
    padding-left: 0; }
    section .media ul li {
      margin: 0.25rem 0; }

footer {
  margin-top: 4rem; }
  footer > div {
    line-height: 2rem;
    padding: 1rem 0;
    border-top: 1px #C0C0C0 solid; }
    footer > div a {
      color: #000;
      text-decoration: none; }
    footer > div .footer-brand {
      font-size: 1.66rem;
      font-weight: 900; }
    footer > div .footer-line {
      font-size: 1.2rem; }
    footer > div ul {
      list-style: none;
      padding-left: 0; }
      footer > div ul li {
        margin-right: 1.5rem; }
      footer > div ul:last-child li {
        margin-right: 0;
        margin-left: 1.51rem; }

mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }
